#gemini related files
.gemini/
gha-creds-*.json
.github/

# Ignore all markdown files...
*.md

# ...but DO NOT ignore the README.
!README.md
!TODO.md

# Ignore sensitive auth files
auth/

# Log files
*.log

# Test scripts
test*.sh
samples/
